<div class="row">
    <div class="col m5 l3">
        <ng-include src="'views/home/sidenav.view.client.html'"></ng-include>
    </div>
    <div class="col m8 l9 s12">
        <ul class="collection with-header">
            <li class="collection-header"><h4>People you are following</h4></li>
            <div ng-repeat="person in model.people">
                <li class="collection-item">
                    <div>
                        {{person.username}}
                        <a href="#/user/{{model.user._id}}/people/{{person._id}}" class="secondary-content"><i class="material-icons">send</i></a>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</div>