<div class="row">
    <div class="container">
        <ul class="collection with-header">
            <li class="collection-header"><h4>People you are following</h4></li>
            <div ng-repeat="person in model.user.follows">
                <li class="collection-item">
                    <div>
                        {{person.name}}
                        <a href="#/user/{{model.user._id}}/people/{{person._id}}" class="secondary-content"><i class="material-icons">send</i></a>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</div>