input.form-control {
    margin-bottom: 5px;
}

.navbar-header {
    width:100%;
}

body {
    padding-top: 36px;
    padding-bottom: 56px;
    background-color: #212121;
}

h1,h2,h3,h4,h5,h6,p,a {
    color: #e30013;
}

.concert-background {
    background-image: url("../images/concer-background.png");
    background-repeat:no-repeat;
    background-attachment: fixed;
}

.display_block {
    display: block; !important;
}

.side-nav a {
    color: #e30013;
}
.side-nav a:hover {
    background-color: rgba(0, 0, 0, 0.34);
}

.btn, .btn-large {
    background-color: #e30013;
}

.btn:hover, .btn-large:hover {
    background-color: #e30013;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #e30013;
    box-shadow: 0 1px 0 0 #e30013;
}

input, select, textarea{
    color: #e30013;
}

textarea:focus, input:focus {
    color: #e30013;
}

.red-color {
    color: #e30013;
}

.side-nav {
    background-color: #191818;
}

.user-image {
    padding-top: 15px;
}

.admin-border{
    background-color: #191818;
    border-radius: 10px;
}

.black-color {
    color: #212121;
}

.collection.with-header .collection-header {
    background-color: #212121;
}

.collection.with-header:nth-child(odd) .collection-header:nth-child(odd) {
    background-color: #191818;
}

.collection .collection-item {
    background-color: #212121;
}

.collection:nth-child(odd) .collection-item:nth-child(odd) {
    background-color: #191818;
}

li.collection-item {
    color: #e30013;
}

li.collection-item { background: green; }
li.collection-item:nth-child(odd) { background: #212121; }

.dark-background {
    background-color: #212121;
}

#admin-item{
    background-color: #191818;
}

.sidebar-background {
    background-color: #191818;
}

.website-list-top
{
    padding-top : 20px;
}

.float-right
{
    float:right;
    margin-right: 15px;
}

.row-style
{
    color: rgb(65, 146, 191);
    border-bottom-color: white;
    border-bottom-style: solid;

}

.footer-style
{
    float: right;
}

.widget-edit-parent
{
    position:relative;
    padding-top: 10px;
}

.widget-edit-child
{
    position:absolute;
    right:0;
    top:0;
    padding: 0px 0 5px 5px;
    background: white;
    border-radius: 0 0 0 7px;
    z-index: 10;
}
.imgStyle
{
    width:100%;
}

.split-style
{
    float:right;
}

.widget-cog-style {
    padding-right: 15px;
}

.right-cog-style {
    padding-right:15px;
}

.name-style {
    padding-left:20px;
}

.arrow-style {
    padding-left : 0px;
}

.media-style {
    width : 100%;
}

.stuff-hidden {
    display: none;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sideNavMenuStyle {
    position: absolute;
    left: 15px;
    top: 15px;
}

.elementMargin {
    margin-top: 15px;
}

.profileMargin {
    margin-top: 15px;
}


::-webkit-input-placeholder {
    color: grey;
}

label {
    color: #e30013; !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: #e30013;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #e30013;
}

:-ms-input-placeholder {
    color: #e30013;
}

.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #ffffff;
}

.back-to-top i {

    font-size: 60px;

}

input[type=range]+.thumb {
    background-color: #e30013;
    border-radius: 50% 50% 50% 0;
}


input[type=range]::-webkit-slider-thumb {
    background-color: #e30013;
}

input[type=range]::-moz-range-thumb {
    background-color: #e30013;
}

input[type=range]::-ms-thumb {
    background-color: #e30013;
}

.pagination li a {
    color: #e30013;
}


img {
    max-width: 60%;
    height: auto;
}

.aboutUsImgStyle {
    max-width: 100px;
    height: auto;
}