<div class="row">
        <ng-include src="'views/home/sidenav.view.client.html'" xmlns="http://www.w3.org/1999/html"></ng-include>
    <div class="col s12">
        <div class="container">
            <h3 class="center">About US </h3>
            <div class="card sidebar-background darken-1">
                <div class="card-content white-text">
                    <div class="row">
                        <div class="col s5 m4">
                            <img ng-src="images/vishal.jpg" alt="" class="circle ng-scope aboutUsImgStyle" >
                        </div>
                        <div class="col s7 m8">
                            <div class="row">
                                <h5 class="ng-binding">Vishal Rao</h5>
                            </div>
                        </div>
                    </div>git
                    <div class="row">
                        <div class="col s4">
                            <a class="waves-effect waves-light btn display_block"  target='_blank' href="https://www.facebook.com/vishal.rao.2992"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                        <div class="col s4">
                            <a class="waves-effect waves-light btn display_block"  target='_blank' href="https://www.facebook.com/vishal.rao.2992"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </div>
                        <div class="col s4">
                            <a class="waves-effect waves-light btn display_block"  target='_blank' href="https://www.facebook.com/vishal.rao.2992"><i class="fa fa-home" aria-hidden="true"></i></a>
                        </div>

                    </div>

                </div>
            </div>

            <div class="card sidebar-background darken-1">
                <div class="card-content white-text">
                    <div class="row">
                        <div class="col s5 m4">
                            <img ng-src="images/raghu.jpg" alt="" class="circle ng-scope aboutUsImgStyle">
                        </div>
                        <div class="col s7 m8">
                            <div class="row">
                                <h5 class="ng-binding">Raghuveer Ramesh</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--<div class="col s3">-->
                        <!--<a class="waves-effect waves-light btn display_block"  target='_blank' href="https://www.facebook.com/raghuveer.ramesh"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
                        <!--</div>-->
                        <div class="col s4">
                            <a class="waves-effect waves-light btn display_block"  target='_blank' href="https://www.facebook.com/raghuveer.ramesh"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                        <div class="col s4">
                            <a class="waves-effect waves-light btn display_block"  target='_blank' href="https://www.facebook.com/vishal.rao.2992"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </div>
                        <div class="col s4">
                            <a class="waves-effect waves-light btn display_block"  target='_blank' href="https://www.facebook.com/vishal.rao.2992"><i class="fa fa-home" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>