<div class="row">
    <div class="col m5 l3">
        <ng-include src="'views/home/sidenav.view.client.html'" xmlns="http://www.w3.org/1999/html"></ng-include>
    </div>
    <!--TODO: fix for portrait mode ipad-->
    <div class="col s12 m7 l9">
        <div class="container">
            <h3 class="center-align">Search for Concerts! </h3>
            <div class="row">
                <form target="#here" method="post">
                    <div class="row">
                        <div class="col s12">
                            <input style="padding-left: 0;" ng-model="model.location"
                                   type="text"
                                   class="form-control"
                                   value="model.search()"
                                   placeholder="city/zipcode">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 l2">
                            <p>Radius (miles):</p>
                        </div>
                        <div class="col s8 l4">
                            <p class="range-field">
                                <input ng-model="model.range" type="range" min="1" max="50" />
                            </p>
                        </div>
                        <div class="col s12 l6">
                            <a ng-click="model.search()" type="submit" class="waves-effect waves-light btn"><i class="material-icons">search</i></a>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <ul ng-if="model.concerts">
                        <!-- Loading Animation -->
                        <div class="loading" data-loading>
                            <!--<double-bounce-spinner></double-bounce-spinner>-->
                            <wave-spinner></wave-spinner>
                        </div>
                        <div ng-repeat="concert in model.items">
                            <div class="card sidebar-background darken-1">
                                <div class="card-content white-text">
                                    <div class="col s5 m4">
                                        <!--<i ng-if="concert.imageURL == undefined" class="material-icons circle red">play_arrow</i>-->
                                        <img ng-if="concert.imageURL == undefined" src="../../images/Music.png" class="circle default-img" >
                                        <img ng-if="concert.imageURL != undefined" ng-src="{{concert.imageURL}}" alt="" class="circle" />
                                    </div>
                                    <div class="col s7 m8">
                                        <div class="row">
                                            <h5>{{concert.title}}</h5>
                                        </div>
                                        <div class="row">
                                            <p>On : {{concert.date}} At: {{concert.time}}</p>
                                        </div>
                                        <div class="row">
                                            <p>{{concert.venue_name}}</p>
                                        </div>
                                    </div>
                                    <a class="waves-effect waves-light btn display_block" href="#/concert/{{concert._id}}">Event Details</a>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="row center-align">
                <ul ng-if="model.pager.pages.length" class="pagination">
                    <li ng-class="{disabled:model.pager.currentPage === 1}">
                        <a ng-click="model.setPage(1)">First</a>
                    </li>
                    <li ng-class="{disabled:model.pager.currentPage === 1}">
                        <a ng-click="model.setPage(model.pager.currentPage - 1)">Previous</a>
                    </li>
                    <li ng-repeat="page in model.pager.pages" ng-class="{active:model.pager.currentPage === page}">
                        <a ng-click="model.setPage(page)">{{page}}</a>
                    </li>
                    <li ng-class="{disabled:model.pager.currentPage === model.pager.totalPages}">
                        <a ng-click="model.setPage(model.pager.currentPage + 1)">Next</a>
                    </li>
                    <li ng-class="{disabled:model.pager.currentPage === model.pager.totalPages}">
                        <a ng-click="model.setPage(model.pager.totalPages)">Last</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <a href="#" class="back-to-top" style="display: none;">
        <i class="fa fa-arrow-circle-up"></i>
    </a>
</div>

<script>
    jQuery(document).ready(function() {

        jQuery(window).scroll(function() {
            if (jQuery(this).scrollTop() > offset) {
                jQuery('.back-to-top').fadeIn(duration);
            } else {
                jQuery('.back-to-top').fadeOut(duration);
            }
        });

        jQuery('.back-to-top').click(function(event) {
            event.preventDefault();
            jQuery('html, body').animate({scrollTop: 0}, duration);
            return false;
        });
        var offset = 250;
        var duration = 300;
    });
</script>