<div class="row black-color">
    <div class="col m5 l3 black-color">
        <ng-include src="'views/home/sidenav.view.client.html'"></ng-include>
    </div>
    <div class="col s12 m7 l9">
        <div class="loading" data-loading>
            <!--<double-bounce-spinner></double-bounce-spinner>-->
            <wave-spinner></wave-spinner>
        </div>
        <div ng-if="model.concert">
            <div class="card sidebar-background darken-1">
                <div class="card-content white-text">
                    <h5 class="center-align card-title" >{{model.concert.title}}</h5>
                    <div class="row">
                        <div class="col s12 m4">
                            <img ng-if="concert.imageURL == undefined" src="../../images/Music.png" class="circle default-img" >
                            <img ng-if="concert.imageURL != undefined" ng-src="{{model.concert.imageURL}}" alt="" class="circle" />
                        </div>
                        <div class="col s12 m8">
                            <div class="row">
                                <p>On :{{model.concert.date}},   At : {{model.concert.time}}</p>
                            </div>
                            <div class="row">
                                <p>{{model.concert.venue_name}}</p>
                            </div>
                            <div class="row">
                                <p>{{model.concert.address}}</p>
                            </div>
                            <div class="row">
                                <div ng-if="model.user !== undefined" class="col s6"> <a class="btn" ng-click="model.doRSVP()"> RSVP !</a> </div>
                            </div>
                        </div>
                        <div class="col s12" ng-bind-html="model.checkSafeHtml(model.concert.description)"></div>
                    </div>
                    <div class="card-action">
                        <h5 ng-if="model.going.length">Going:</h5>
                        <div ng-repeat="person in model.going" class="row">
                            <div class="col s6 l3">
                                {{person.username}}
                            </div>
                            <a class="waves-effect right waves-light btn" ng-click="model.doFollow(person)">Follow</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>