<div class="row black-color">

    <ng-include src="'views/home/sidenav.view.client.html'"></ng-include>

    <div class="container">
        <div class="loading" data-loading>
            <wave-spinner></wave-spinner>
        </div>
        <div ng-if="model.concert">
            <div class="card sidebar-background darken-1">
                <div class="card-content white-text">
                    <div class="col s12">
                        <h5 class="card-title center" >{{model.concert.title}}</h5>
                    </div>
                    <div class="row">
                        <div class="col s6 m4">
                            <img ng-if="model.concert.imageURL == undefined" src="../../images/Music.png" class="circle default-img" >
                            <img ng-if="model.concert.imageURL != undefined" ng-src="{{model.concert.imageURL}}" alt="" class="circle" />
                        </div>
                        <div class="col s6 m8">
                            <div class="row">
                                On :{{model.concert.date}},   At : {{model.concert.time}}
                            </div>
                            <div class="row">
                                {{model.concert.venue_name}}
                            </div>
                            <div class="row">
                                {{model.concert.address}}
                            </div>
                            <div class="row">
                                    <a ng-if="model.concert.isGoing === false && model.user != undefined"class="btn" ng-click="model.doRSVP()"> RSVP !</a>
                                    <a ng-if="model.concert.isGoing === true"  ng-click="model.doRSVP()" class="btn fa fa-times" > Going!</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div>
                            <ul class="collapsible sidebar-background" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-header sidebar-background"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i> Show Description</div>
                                    <div class="collapsible-body col s12 sidebar-background" ng-bind-html="model.checkSafeHtml(model.concert.description)"></div>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div ng-if="model.going.length" class="card-action">
                        <h5 > Others Going</h5>
                        <div ng-repeat="person in model.going" class="row">
                            <div class="col s6 l3">
                                <u><a href="#/user/{{model.user._id}}/people/{{person._id}}">@{{person.username}}</a></u>
                            </div>
                            <a ng-if="model.isFollowing(person._id) == true" class="waves-effect right waves-light btn" >Following</a>
                            <a ng-if="model.isFollowing(person._id) == false" class="waves-effect right waves-light btn" ng-click="model.doFollow(person)">Follow</a>
                        </div>
                    </div>

                    <div ng-if="model.comments.length > 0">
                        <ul>
                            <div ng-repeat="comment in model.comments" class="row">
                                <div class="col s11 l11">
                                    <a href="#/user/{{model.user._id}}/people/{{comment.userId}}">
                                    <u>@{{comment.user}}</u></a>
                                    <li>{{comment.commentString}}</li>
                                </div>
                                <div ng-if="model.user.role === 'ADMIN'" data-target="deleteCommentModal" ng-click="model.setCommentToDelete(comment)" class="col s1 l1">
                                    <a class="fa fa-times"></a>
                                </div>
                            </div>
                        </ul>

                    </div>
                    <div ng-if="model.user._id" class="sidebar-background row">
                        <div class="col s8 l9">
                            <textarea ng-model="model.commentString"  placeholder="Post your comment here"></textarea>
                        </div>
                        <div class="col s4 l3">
                            <a class="waves-effect waves-light btn" data-target="commentModal" >Post</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="commentModal" class="modal">
        <div class="modal-content">
            <h4>Post Comment?</h4>
        </div>
        <div class="modal-footer">
            <a  ng-click="model.postComment()" class="modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
            <a  class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
        </div>
    </div>

    <div id="deleteCommentModal" class="modal">
        <div class="modal-content">
            <h4>Delete Comment?</h4>
        </div>
        <div class="modal-footer">
            <a  ng-click="model.deleteComment()" class="modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
            <a  class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
        </div>
    </div>
</div>