<div class="row black-color">
    <ng-include src="'views/home/sidenav.view.client.html'"></ng-include>
    <div class="col s12">
        <div class="container">
            <ul class="tabs">
                <li class="tab col s6"><a ng-click="model.loadUpcomingConcerts()">Upcoming</a></li>
                <li class="tab col s6"><a ng-click="model.getPastConcertsForUser()" >Past</a></li>
            </ul>

            <div ng-if="model.concerts !== undefined && model.concerts.length > 0" class="row">
                <ul ng-if="model.concerts">
                    <!-- Loading Animation -->
                    <div class="loading" data-loading>
                        <!--<double-bounce-spinner></double-bounce-spinner>-->
                        <wave-spinner></wave-spinner>
                    </div>
                    <div ng-repeat="concert in model.concerts">
                        <div class="card sidebar-background darken-1">
                            <div class="card-content white-text">
                                <div class="col s5 m4">
                                    <!--<i ng-if="concert.imageURL == undefined" class="material-icons circle red">play_arrow</i>-->
                                    <img ng-if="concert.imageURL == undefined" src="../../images/Music.png" class="circle default-img aboutUsImgStyle" >
                                    <img ng-if="concert.imageURL != undefined" ng-src="{{concert.imageURL}}" alt="" class="circle" />
                                </div>
                                <div class="col s7 m8">
                                    <div class="row">
                                        <h5>{{concert.title}}</h5>
                                    </div>
                                    <div class="row">
                                        <p>On : {{concert.date}} At: {{concert.time}}</p>
                                    </div>
                                    <div class="row">
                                        <p>{{concert.venue_name}}</p>
                                    </div>
                                </div>
                                <a ng-disabled="model.isPastEvent(concert)" class="waves-effect waves-light btn display_block" href="#/concert/{{concert.cid}}">Event Details</a>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>