<div class="container">
    <h1>Register</h1>
    <input ng-model="model.username"
            type="text"
           class="form-control"
           placeholder="Username"
    />
    <input type="password"
           ng-model="model.password"
           class="form-control"
           placeholder="Password"/>
    <input type="password"
           class="form-control"
           placeholder="Verify password"/>
    <a class="btn btn-primary btn-block elementMargin"
        ng-click="model.register(model.username, model.password)" >Register</a>
    <a class="btn btn-block elementMargin"
       href="#/login">Cancel</a>
</div>